<div class="flex gap2 mt-2">
    <ng-container *ngIf="!analyzing; else: loading">
        <app-card-specs *ngFor="let item of specs" [spec]="item"></app-card-specs>
    </ng-container>
</div>

<ng-template #loading>
    <div class="flex flex-column align-center">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        <span>Analyzing specs</span>
    </div>
</ng-template>
