.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #020916;
  
    :not(.nth-z) {
      z-index: 1;
    }
}
  