<div class="flex justify-end align-center pt-1 pr-3 gap2">
    <button mat-stroked-button routerLink="/home">Home</button>
</div>

<div class="flex justify-center">
    <mat-card>
        <mat-card-title>SignalR streaming</mat-card-title>
        <p *ngFor="let item of data">{{ item }}</p>
    </mat-card>
</div>
