<div class="flex justify-between pt-1 pr-3 pl-3">
    <div class="flex align-center">
        <button mat-stroked-button (click)="toggleAuth()">
            <span *ngIf="isAuth; else authText">Sign out</span>
        </button>
    </div>
    <div class="flex gap2 align-center">
        <span *ngIf="weather">{{ weather.name }} <strong>{{ weather.main.temp }}°C</strong> </span>
        <button mat-stroked-button routerLink="/signalr">Go to SignalR</button>
    </div>
</div>
<div class="flex flex-column align-center gap3">
    <app-setup-health-check></app-setup-health-check>
    <app-video-streaming></app-video-streaming>
</div>

<ng-template #authText>
    <span>Sign in</span>
</ng-template>
