.mat-stroked-button,
.mat-button,
.mat-raised-button,
.mat-menu-panel {
  border-radius: 8px !important;
}

.mat-raised-button:not([class*='mat-elevation-z']) {
  box-shadow: unset !important;
}

.mat-card {
  border-radius: 10px !important;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12) !important;
  font-size: 10pt !important;
  color: #eee !important;
  background: none !important;
  background-color: #ffffff33 !important;
}

.mat-stroked-button:not(.mat-button-disabled) {
  border-color: #eee1 !important;
}