@use 'sass:map';
@use '~@angular/material' as mat;

@mixin theme-colors($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');

  --primary: #{mat.get-color-from-palette($primary)};
  --primary-darker: #{mat.get-color-from-palette($primary, 900)};
  --primary-100: #{mat.get-color-from-palette($primary, 100)};
  --primary-200: #{mat.get-color-from-palette($primary, 200)};
  --primary-300: #{mat.get-color-from-palette($primary, 300)};
  --primary-400: #{mat.get-color-from-palette($primary, 400)};
  --primary-600: #{mat.get-color-from-palette($primary, 600)};
  --primary-700: #{mat.get-color-from-palette($primary, 700)};
  --primary-800: #{mat.get-color-from-palette($primary, 800)};

  --accent: #{mat.get-color-from-palette($accent)};
  --accent-darker: #{mat.get-color-from-palette($accent, 900)};
  --accent-100: #{mat.get-color-from-palette($accent, 100)};
  --accent-200: #{mat.get-color-from-palette($accent, 200)};
  --accent-300: #{mat.get-color-from-palette($accent, 300)};
  --accent-400: #{mat.get-color-from-palette($accent, 400)};
  --accent-600: #{mat.get-color-from-palette($accent, 600)};
  --accent-700: #{mat.get-color-from-palette($accent, 700)};
  --accent-800: #{mat.get-color-from-palette($accent, 800)};

  --warn: #{mat.get-color-from-palette($warn)};
  --warn-darker: #{mat.get-color-from-palette($warn, 900)};
  --warn-100: #{mat.get-color-from-palette($warn, 100)};
  --warn-200: #{mat.get-color-from-palette($warn, 200)};
  --warn-300: #{mat.get-color-from-palette($warn, 300)};
  --warn-400: #{mat.get-color-from-palette($warn, 400)};
  --warn-600: #{mat.get-color-from-palette($warn, 600)};
  --warn-700: #{mat.get-color-from-palette($warn, 700)};
  --warn-800: #{mat.get-color-from-palette($warn, 800)};

  .primary {
    color: var(--primary) !important;
  }
  .primary-darker {
    color: var(--primary-darker) !important;
  }
  .bg-primary {
    background-color: var(--primary) !important;
  }
  .bg-primary-darker {
    background-color: var(--primary-darker) !important;
  }
  .accent {
    color: var(--accent) !important;
  }
  .accent-darker {
    color: var(--accent-darker) !important;
  }
  .bg-accent {
    background-color: var(--accent) !important;
  }
  .bg-accent-darker {
    background-color: var(--accent-darker) !important;
  }
  .warn {
    color: var(--warn) !important;
  }
  .bg-warn {
    background-color: var(--warn) !important;
  }
}
