// FLEX
.flex {
  display: flex !important;
}
.flex-fill {
  flex: 1 1 auto !important;
}
.align-center {
  align-items: center !important;
}
.align-start {
  align-items: flex-start !important;
}
.align-end {
  align-items: flex-end !important;
}
.align-stretch {
  align-items: stretch !important;
}
.justify-start {
  justify-content: flex-start !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-around {
  justify-content: space-around !important;
}
.flex-column {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column-e {
  flex-direction: column !important;
}
.row-e {
  flex-direction: row !important;
}

// GRID
.grid {
  display: grid;
  counter-reset: grid-items;
  position: relative;
}
.grid::before {
  position: absolute;
  padding-left: 1em;
}
.grid--auto-fill-xxl {
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}
.grid--auto-fill-xl {
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}
.grid--auto-fill-lg {
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.grid--auto-fill-md {
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}
.grid--auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}
.grid--auto-fill-sm {
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
}
.grid--auto-fill-xs {
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
}
.grid--auto-fit-xl {
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
.grid--auto-fit-lg {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.grid--auto-fit-md {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}
.grid--auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.grid--auto-fit-sm {
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
}
.grid--auto-fit-xs {
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}
.gp05 {
  grid-gap: 0.5rem;
}
.gp1 {
  grid-gap: 1rem;
}
.gp2 {
  grid-gap: 2rem;
}

// MARGINS
.m-0 {
  margin: 0 !important;
}
.m-025 {
  margin: 0.25rem !important;
}
.m-05 {
  margin: 0.5rem !important;
}
.m-1 {
  margin: 1rem !important;
}
.m-1-5 {
  margin: 1.5rem !important;
}
.m-2 {
  margin: 2rem !important;
}
.m-2-5 {
  margin: 2.5rem !important;
}
.m-3 {
  margin: 3rem !important;
}
.m-4 {
  margin: 4rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}
.mr-025 {
  margin-right: 0.25rem !important;
}
.mr-05 {
  margin-right: 0.5rem !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.mr-1-5 {
  margin-right: 1.5rem !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.mr-2-5 {
  margin-right: 2.5rem !important;
}
.mr-3 {
  margin-right: 3rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}
.ml-025 {
  margin-left: 0.25rem !important;
}
.ml-05 {
  margin-left: 0.5rem !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.ml-1-5 {
  margin-left: 1.5rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}
.ml-2-5 {
  margin-left: 2.5rem !important;
}
.ml-3 {
  margin-left: 3rem !important;
}
.ml-4 {
  margin-left: 4rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-025 {
  margin-top: 0.25rem !important;
}
.mt-05 {
  margin-top: 0.5rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-1-5 {
  margin-top: 1.5rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-2-5 {
  margin-top: 2.5rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-025 {
  margin-bottom: 0.25rem !important;
}
.mb-05 {
  margin-bottom: 0.5rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-1-5 {
  margin-bottom: 1.5rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-2-5 {
  margin-bottom: 2.5rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-5 {
  margin-bottom: 5rem !important;
}
// PADDINGS
.p-0 {
  padding: 0 !important;
}
.p-025 {
  padding: 0.25rem !important;
}
.p-05 {
  padding: 0.5rem !important;
}
.p-1 {
  padding: 1rem !important;
}
.p-1-5 {
  padding: 1.5rem !important;
}
.p-2 {
  padding: 2rem !important;
}
.p-2-5 {
  padding: 2.5rem !important;
}
.p-3 {
  padding: 3rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}
.pr-025 {
  padding-right: 0.25rem !important;
}
.pr-05 {
  padding-right: 0.5rem !important;
}
.pr-1 {
  padding-right: 1rem !important;
}
.pr-1-5 {
  padding-right: 1.5rem !important;
}
.pr-2 {
  padding-right: 2rem !important;
}
.pr-2-5 {
  padding-right: 2.5rem !important;
}
.pr-3 {
  padding-right: 3rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pl-025 {
  padding-left: 0.25rem !important;
}
.pl-05 {
  padding-left: 0.5rem !important;
}
.pl-1 {
  padding-left: 1rem !important;
}
.pl-1-5 {
  padding-left: 1.5rem !important;
}
.pl-2 {
  padding-left: 2rem !important;
}
.pl-2-5 {
  padding-left: 2.5rem !important;
}
.pl-3 {
  padding-left: 3rem !important;
}
.pl-4 {
  padding-left: 4rem !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pt-025 {
  padding-top: 0.25rem !important;
}
.pt-05 {
  padding-top: 0.5rem !important;
}
.pt-1 {
  padding-top: 1rem !important;
}
.pt-1-5 {
  padding-top: 1.5rem !important;
}
.pt-2 {
  padding-top: 2rem !important;
}
.pt-2-5 {
  padding-top: 2.5rem !important;
}
.pt-3 {
  padding-top: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-025 {
  padding-bottom: 0.25rem !important;
}
.pb-05 {
  padding-bottom: 0.5rem !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.pb-1-5 {
  padding-bottom: 1.5rem !important;
}
.pb-2 {
  padding-bottom: 2rem !important;
}
.pb-2-5 {
  padding-bottom: 2.5rem !important;
}
.pb-3 {
  padding-bottom: 3rem !important;
}

// OTHERS
.gap01 {
  gap: 0.1rem !important;
}
.gap025 {
  gap: 0.25rem !important;
}
.gap05 {
  gap: 0.5rem !important;
}
.gap1 {
  gap: 1rem !important;
}
.gap1-5 {
  gap: 1.5rem !important;
}
.gap2 {
  gap: 2rem !important;
}
.gap3 {
  gap: 3rem !important;
}
.gap4 {
  gap: 4rem !important;
}
.w-auto {
  width: auto !important;
}
.w-100 {
  width: 100% !important;
}
.w-75 {
  width: 75% !important;
}
.w-50 {
  width: 50% !important;
}
.w-45 {
  width: 45% !important;
}
.w-40 {
  width: 40% !important;
}
.w-30 {
  width: 30% !important;
}
.w-20 {
  width: 20% !important;
}
.h-auto {
  height: auto !important;
}
.h-100 {
  height: 100% !important;
}
.h-75 {
  height: 75% !important;
}
.h-50 {
  height: 50% !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.pointer {
  cursor: pointer;
}
.noshadow {
  box-shadow: unset;
}
.hidden {
  display: none !important;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize !important;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
