@use '~@angular/material' as mat;
@import './pallete/dark-blue.scss';
@import './pallete/orange.scss';

$strategy-hub-primary: mat.define-palette($dark-blue-palette, 500, 400, 700);
$strategy-hub-accent: mat.define-palette($orange-palette, 500, 300, 900);
$strategy-hub-warn: mat.define-palette(mat.$red-palette);

$strategy-hub-typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
);

$strategy-hub-theme: mat.define-light-theme(
  (
    color: (
      primary: $strategy-hub-primary,
      accent: $strategy-hub-accent,
      warn: $strategy-hub-warn,
    ),
    typography: $strategy-hub-typography,
  )
);
